* {
	transition: all 0.5s;
}

/* FOCUS */

.click-rotate-90:focus {
	transition: all 0.5s ease-in-out;
	transform: rotate(90deg);
}

.click-rotate-180:focus {
	transition: all 0.5s ease-in-out;
	transform: rotate(180deg);
}

.click-rotate-270:focus {
	transition: all 0.5s ease-in-out;
	transform: rotate(270deg);
}

.click-rotate-360:focus {
	transition: all 0.5s ease-in-out;
	transform: rotate(360deg);
}

.click-rotate--90:focus {
	transition: all 0.5s ease-in-out;
	transform: rotate(-90deg);
}

.click-rotate--180:focus {
	transition: all 0.5s ease-in-out;
	transform: rotate(-180deg);
}

.click-rotate--270:focus {
	transition: all 0.5s ease-in-out;
	transform: rotate(-270deg);
}

.click-rotate--360:focus {
	transition: all 0.5s ease-in-out;
	transform: rotate(-360deg);
}

.click-stretch:focus {
	transform: scale(1.15);
}

.click-stretch-x:focus {
	transform: scaleX(1.15);
}

.click-stretch-y:focus {
	transform: scaleY(1.15);
}

.click-shrink:focus {
	transform: scale(0.85);
}

.click-shrink-x:focus {
	transform: scaleX(0.85);
}

.click-shrink-y:focus {
	transform: scaleY(0.85);
}

.click-stretch-x-shrink-y:focus {
	transform: scale(1.15, 0.85);
}

.click-shrink-x-stretch-y:focus {
	transform: scale(0.85, 1.15);
}

.click-push-right:focus {
	transform: translateX(15px);
}

.click-push-left:focus {
	transform: translateX(-15px);
}

.click-push-up:focus {
	transform: translateY(-15px);
}

.click-push-down:focus {
	transform: translateY(15px);
}

.click-push-up-right:focus {
	transform: translate(15px, -15px);
}

.click-push-down-right:focus {
	transform: translate(15px, 15px);
}

.click-push-down-left:focus {
	transform: translate(-15px, 15px);
}

.click-push-up-left:focus {
	transform: translate(-15px, -15px);
}

/* HOVER */

.hover-rotate-90:hover {
	transition: all 0.5s ease-in-out;
	transform: rotate(90deg);
}

.hover-rotate-180:hover {
	transition: all 0.5s ease-in-out;
	transform: rotate(180deg);
}

.hover-rotate-270:hover {
	transition: all 0.5s ease-in-out;
	transform: rotate(270deg);
}

.hover-rotate-360:hover {
	transition: all 0.5s ease-in-out;
	transform: rotate(360deg);
}

.hover-rotate--90:hover {
	transition: all 0.5s ease-in-out;
	transform: rotate(-90deg);
}

.hover-rotate--180:hover {
	transition: all 0.5s ease-in-out;
	transform: rotate(-180deg);
}

.hover-rotate--270:hover {
	transition: all 0.5s ease-in-out;
	transform: rotate(-270deg);
}

.hover-rotate--360:hover {
	transition: all 0.5s ease-in-out;
	transform: rotate(-360deg);
}

.hover-stretch:hover {
	transform: scale(1.15);
}

.hover-stretch-x:hover {
	transform: scaleX(1.15);
}

.hover-stretch-y:hover {
	transform: scaleY(1.15);
}

.hover-shrink:hover {
	transform: scale(0.85);
}

.hover-shrink-x:hover {
	transform: scaleX(0.85);
}

.hover-shrink-y:hover {
	transform: scaleY(0.85);
}

.hover-stretch-x-shrink-y:hover {
	transform: scale(1.15, 0.85);
}

.hover-shrink-x-stretch-y:hover {
	transform: scale(0.85, 1.15);
}

.hover-push-right:hover {
	transform: translateX(15px);
}

.hover-push-left:hover {
	transform: translateX(-15px);
}

.hover-push-up:hover {
	transform: translateY(-15px);
}

.hover-push-down:hover {
	transform: translateY(15px);
}

.hover-push-up-right:hover {
	transform: translate(15px, -15px);
}

.hover-push-down-right:hover {
	transform: translate(15px, 15px);
}

.hover-push-down-left:hover {
	transform: translate(-15px, 15px);
}

.hover-push-up-left:hover {
	transform: translate(-15px, -15px);
}

/* ACTIVE */

.click-rotate-90:active {
	transition: all 0.5s ease-in-out;
	transform: rotate(90deg);
}

.click-rotate-180:active {
	transition: all 0.5s ease-in-out;
	transform: rotate(180deg);
}

.click-rotate-270:active {
	transition: all 0.5s ease-in-out;
	transform: rotate(270deg);
}

.click-rotate-360:active {
	transition: all 0.5s ease-in-out;
	transform: rotate(360deg);
}

.click-rotate--90:active {
	transition: all 0.5s ease-in-out;
	transform: rotate(-90deg);
}

.click-rotate--180:active {
	transition: all 0.5s ease-in-out;
	transform: rotate(-180deg);
}

.click-rotate--270:active {
	transition: all 0.5s ease-in-out;
	transform: rotate(-270deg);
}

.click-rotate--360:active {
	transition: all 0.5s ease-in-out;
	transform: rotate(-360deg);
}

.click-stretch:active {
	transform: scale(1.15);
}

.click-stretch-x:active {
	transform: scaleX(1.15);
}

.click-stretch-y:active {
	transform: scaleY(1.15);
}

.click-shrink:active {
	transform: scale(0.85);
}

.click-shrink-x:active {
	transform: scaleX(0.85);
}

.click-shrink-y:active {
	transform: scaleY(0.85);
}

.click-stretch-x-shrink-y:active {
	transform: scale(1.15, 0.85);
}

.click-shrink-x-stretch-y:active {
	transform: scale(0.85, 1.15);
}

.click-push-right:active {
	transform: translateX(15px);
}

.click-push-left:active {
	transform: translateX(-15px);
}

.click-push-up:active {
	transform: translateY(-15px);
}

.click-push-down:active {
	transform: translateY(15px);
}

.click-push-up-right:active {
	transform: translate(15px, -15px);
}

.click-push-down-right:active {
	transform: translate(15px, 15px);
}

.click-push-down-left:active {
	transform: translate(-15px, 15px);
}

.click-push-up-left:active {
	transform: translate(-15px, -15px);
}

/* TARGET */

.click-rotate-90:target {
	transition: all 0.5s ease-in-out;
	transform: rotate(90deg);
}

.click-rotate-180:target {
	transition: all 0.5s ease-in-out;
	transform: rotate(180deg);
}

.click-rotate-270:target {
	transition: all 0.5s ease-in-out;
	transform: rotate(270deg);
}

.click-rotate-360:target {
	transition: all 0.5s ease-in-out;
	transform: rotate(360deg);
}

.click-rotate--90:target {
	transition: all 0.5s ease-in-out;
	transform: rotate(-90deg);
}

.click-rotate--180:target {
	transition: all 0.5s ease-in-out;
	transform: rotate(-180deg);
}

.click-rotate--270:target {
	transition: all 0.5s ease-in-out;
	transform: rotate(-270deg);
}

.click-rotate--360:target {
	transition: all 0.5s ease-in-out;
	transform: rotate(-360deg);
}

.click-stretch:target {
	transform: scale(1.15);
}

.click-stretch-x:target {
	transform: scaleX(1.15);
}

.click-stretch-y:target {
	transform: scaleY(1.15);
}

.click-shrink:target {
	transform: scale(0.85);
}

.click-shrink-x:target {
	transform: scaleX(0.85);
}

.click-shrink-y:target {
	transform: scaleY(0.85);
}

.click-stretch-x-shrink-y:target {
	transform: scale(1.15, 0.85);
}

.click-shrink-x-stretch-y:target {
	transform: scale(0.85, 1.15);
}

.click-push-right:target {
	transform: translateX(15px);
}

.click-push-left:target {
	transform: translateX(-15px);
}

.click-push-up:target {
	transform: translateY(-15px);
}

.click-push-down:target {
	transform: translateY(15px);
}

.click-push-up-right:target {
	transform: translate(15px, -15px);
}

.click-push-down-right:target {
	transform: translate(15px, 15px);
}

.click-push-down-left:target {
	transform: translate(-15px, 15px);
}

.click-push-up-left:target {
	transform: translate(-15px, -15px);
}